* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 7rem;
    font-family: sans-serif;
}
.container {
    width: 400px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    background-color: black;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    border-radius: 10px;
    padding-top: 30px;
}
.container #dob {
    height: 20px;
    padding: 15px;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 5px;
    border: none;
}
.container #dob:hover {
    background-color: rgb(229, 10, 10);
}
#calc-btn {
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    font-size: 1rem;
    height: 30px;
    width: 6rem;
    padding: 0 12px;
}
#calc-btn:hover {
    background-color: rgb(229, 10, 10);
}
.calc-age-boxes {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    width: 400px;   
    height: 100px;
}
.box {
    width: 100px;
    height: 98px;
    border: 1px solid green;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 10px;
    padding-top: 17px;
}
.box h2 {
    font-size: 2rem;
    font-weight: 500;
}
.box p {
    margin-top: 4px;
    font-size: 12px;
    color: gray;
    font-weight: 700;
}